@import './theme.css';

html,
body {
  margin: 0;
  padding: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: var(--system-font);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
section {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 40px 40px 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e4f3ff;
  z-index: -1;
  opacity: 0;
  transition: .5s all;
  &.is-active {
    z-index: 1;
    opacity: 1;
  }
  &:target {
    opacity: 1;
    z-index: 2;
  }
}
h2 {
  margin-top: 0;
}
a {
  color: #952a2a;
}
.center {
  text-align: center;
}
[hidden] {
  opacity: 0;
  transform: scale(0);
  transition: .5s all;
}
