@import './theme.css';
@import '../../node_modules/prismjs/themes/prism.css';
@import './components/*.css';
@import '../examples/*.css';

blockquote {
  margin-left: 0;
  padding-left: 40px;
  border-left: 10px solid #ccc;
  &::after {
    content: "— " attr(cite);
    display: block;
    text-align: right;
    font-style: italic;
    border-left: 0;
  }
}

pre {
  overflow-x: auto;
}
